body {
    background-color: #eeeeee;
}

.logo {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background-color: #b4b4b4;
    border-radius: 25px;
    color: #363636;
}

ul {
    list-style: none;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 16px 0px 0px;
}