ul {
    list-style: none;
}

.logo {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background-color: #b4b4b4;
    border-radius: 25px;
    color: #363636;
}

.millipede {
    text-align: center;
    font-size: large;
}

.vetinfo {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.probiotics, .geckofoodpics, .geckofoodvideos, .vetprobiotic, .dogfood {
    display: flex;
    justify-content: space-between;
    margin: 16px 0px 0px;
}

.instructions {
    text-align: center;
}